

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style>
#btns{
    bottom: 0;
    right:0;
	padding:15px;
    position: -webkit-sticky;
    position: fixed;
    background-color: gray;
    width: 30%;
}
a{
	opacity: 2;
}
</style>  
<div class="container">
  <div class="row" style='text-align: center;'>
  	<div style='padding:300px;padding-top:0;' class='col-md-12' >
		<img style='width:100%;margin-left: auto;margin-right:auto;'
		 src='{{tender.image.url}}'  >
	</div>
  <div id='btns' class='col-md-12' >
  	<a href='{% url "catalogue:index" %}?label=construction&tender_id={{tender.id}}' class='btn btn-success btn-lg '>انشاءات/صيانة ابنية</a><br>
  	<a href='{% url "catalogue:index" %}?label=streets&tender_id={{tender.id}}' class='btn btn-primary btn-lg '>طرق وجسور</a><br>
  	<a href='{% url "catalogue:index" %}?label=import_buy&tender_id={{tender.id}}' class='btn btn-danger btn-lg '>شراء/توريد</a><br>
  	<a href='{% url "catalogue:index" %}?label=sell_auction&tender_id={{tender.id}}' class='btn btn-warning btn-lg '>بيع أو مزاد</a><br>
  	<a href='{% url "catalogue:index" %}?label=idk&tender_id={{tender.id}}' class='btn btn-default btn-lg '>idk</a><br><br>
  	done : {{categorized_count}}<a href='{% url "catalogue:index" %}?remove_last_tender=True' style='color:white;'>remove last </a>

  </div>
  </div>
</div>

</body>
</html>
